### IntelliJ IDEA ###
.idea/
.gradle/
build
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/core/logs/2026-04-05-1.log.gz
/core/logs/2026-04-05-2.log.gz
/core/logs/latest.log
/fabric/logs/2026-04-05-1.log.gz
/fabric/logs/2026-04-05-2.log.gz
/fabric/logs/2026-04-05-3.log.gz
/fabric/logs/2026-04-05-4.log.gz
/fabric/logs/2026-04-05-5.log.gz
/fabric/logs/2026-04-05-6.log.gz
/fabric/logs/latest.log
